.about__content h1{
    font-style: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}
.about__content p .highlight{
    color: yellow;
}
.about__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}